@charset "utf-8";

@font-face {
  font-family: "NotoSans";
  font-weight: 300;
  src: url(../font/NotoSansCJKkr-DemiLight.woff) format("font-woff"),
    url(../font/NotoSansCJKkr-DemiLight.woff2) format("woff2");
}
@font-face {
  font-family: "NotoSans";
  font-weight: 400;
  src: url(../font/NotoSansCJKkr-Light.woff) format("font-woff"),
    url(../font/NotoSansCJKkr-Light.woff2) format("woff2");
}
@font-face {
  font-family: "NotoSans";
  font-weight: 700;
  src: url(../font/NotoSansCJKkr-Bold.woff) format("font-woff"),
    url(../font/NotoSansCJKkr-Bold.woff2) format("woff2");
}
