@charset "utf-8";

@font-face { font-family: "Pretendard";
    font-weight: 400;
    src: 
    url(../font/Pretendard-Regular.woff) format('font-woff'), 
    url(../font/Pretendard-Regular.woff2) format('woff2');
}

@font-face { font-family: "Pretendard";
    font-weight: 500;
    src: 
    url(../font/Pretendard-Medium.woff) format('font-woff'), 
    url(../font/Pretendard-Medium.woff2) format('woff2');
}

@font-face { font-family: "Pretendard";
    font-weight: 600;
    src: 
    url(../font/Pretendard-SemiBold.woff) format('font-woff'), 
    url(../font/Pretendard-SemiBold.woff2) format('woff2');
}

@font-face { font-family: "Pretendard";
    font-weight: 700;
    src: 
    url(../font/Pretendard-Bold.woff) format('font-woff'), 
    url(../font/Pretendard-Bold.woff2) format('woff2');
}